.title{
	color: lightseagreen;
	padding-left: 20px;
}


.description{
	font-size: 2em;
	border-left: dashed;
	padding: 10px 20px 10px 20px;
	background-color: lightcyan;}

.catimage{
	width: 200px;
	position: relative;
	left: 20px;
}

.chart{
	background-color: lightcyan;
	width: 300px;
	height:300px;
}

.cat{
	stroke: black;
	fill: black;
}

.ear{
	transform: translate(-30px,0);
}
.rightear{
	transform-origin: 165px 0;
	transform: scaleX(-1);
}

.eye{
	stroke: white;
	stroke-width:2px;
	fill:green;
}

.lefteye{
	transform-origin: 150px 0;
	transform: scaleX(-1);
}

.red{
	fill:red;
}

.nose{
	stroke: white;
	fill:white;
}

.mouth{
	fill:red;
}

.whisker{
	stroke:white;
}

